{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    {% include 'partials/navbar/navbar.html.twig' %}

    <div class="container">
        <div class="row">
            <div class="col">
                Listing.
            </div>
        </div>
    </div>
{% endblock %}
