{% extends 'base.html.twig' %}

{% block title %}Edit{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                {{ form(form) }}
            </div>
        </div>
    </div>
{% endblock %}
