{% extends 'base.html.twig' %}

{% block title %}Importer!{% endblock %}

{% block body %}
    {% include 'partials/navbar/navbar.html.twig' %}

    <div class="container">
        <div class="row">
            <div class="col">
                {% include 'partials/flash.html.twig' %}

                {{ form(form) }}
            </div>
        </div>
    </div>
{% endblock %}
